@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700,300&display=swap');

#main-menu {
  position: -webit-sticky;
  position: fixed;
  background: none repeat scroll 0 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5rem;
  width: 100%;
  animation: movedown 0.5s ease-in-out;
  background: #EBE9E7;
  z-index: 9999;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

#nav {
  margin: auto;
  width: 70%;
}

#nav ul {
  margin: 0;
  padding: 30px 35px;
  list-style: none;
  text-align: right;
}

#nav ul li{
  float: none;
  display: inline-block;
}

#nav ul li:nth-child(1) {
  float: left;
}

#nav ul li:nth-child(2) {
  float: left;
}

#nav ul li:nth-child(3) {
  float: left;
}

#nav ul li a{
  color: #262626;
  font-size: 25px;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  padding: 20px 20px;
}

#nav ul li:hover {
  background-color: #555555;
}

#nav ul li a:hover {
  color: #FFFFFF;
}

#logo {
  width: 85px;
  height: 85px;
  position: absolute;
  left: 50%;
  top: 20px;
  content: "";
  margin-left: -75px;
  animation: rotate 0.7s ease-in-out 0.5s;
}

@keyframes moveDown {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0px);
  }
}

#fire-intro {
  width: 100%;
  z-index: 0;
  background-size: cover;
  background-position: center;
  display: flex;
}

#overlay {
  margin-top: 0;
  top: 145px;
  color: #F9E9DB;
  text-align: center;
  font-size: 60px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

#title {
  position: absolute;
  top: 40%;
  width: 70%;
}

#desc {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  position: static;
}

#glacier {
  float: right;
  width: 40%;
  margin: 5rem 5rem 2.4rem 0rem;
}

#glacier-text {
  float: left;
  width: 40%;
  margin: 7rem 0rem 5rem 7rem;
  text-align: center;
  font-size: 1.3rem;
}

#fire {
  float: left;
  width: 40%;
  margin: 7rem 0rem 5rem 7rem;
}

#fire-text {
  float: right;
  width: 40%;
  margin: 5rem 4.5rem 2.4rem 0rem;
  text-align: center;
  font-size: 1.3rem;
}

div.county-history {
  top: 100px;
  bottom: 100px;
}

div.county-history h2 {
  color: #FFFFFF;
  font-size: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  padding: 0;
}

div.county-history img {
  height: 100px;
  width: 100px;
}

div.weather-charts {
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
  margin: 1.5rem 7rem 2.4rem 0rem;
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

#fire-data {
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  width: 40%;
  font-size: 1.4rem;
  float: left;
  margin: 1rem 0rem 2.4rem 7rem;
}

#temp-precip-chart {
  padding: 40px;
  background-color: 555555;
  color: white;
}

div.carousel li.slide {
  background-color: #555555;
  font-size: 20px;
}

#aboutus-title {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin: auto;
  font-size: 30px;
  font-weight: 400;
  top: 40%;
  width: 70%;
  padding: 50px 0px 50px 0px;
}

#aboutus-body {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-weight: 300;
  top: 40%;
  width: 70%;
  padding: 15px;
}

#aboutus-foot {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin: auto;
  font-size: 15px;
  font-weight: 300;
  top: 40%;
  width: 70%;
  padding: 5px;
}